[Unit]
Description=Adlink xfdesktop script during bootup

[Service]
Type=simple
ExecStart=/bin/sh -c 'sleep 5 ; /usr/sbin/xinitrc'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
