CONFIG_BLK_DEV_RAM=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
CONFIG_ARM_CPUIDLE=y
CONFIG_QCOM_SCM=m
CONFIG_ARM64_CRYPTO=y

CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_TABLES_ARP=y
CONFIG_NF_TABLES_IPV6=y
CONFIG_NF_TABLES_BRIDGE=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIUART_MRVL=y
CONFIG_BT_MRVL=m

CONFIG_RFKILL=y

CONFIG_SIMPLE_PM_BUS=y
CONFIG_PATA_PLATFORM=y

CONFIG_ENETC_TSN=y

CONFIG_PPP=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_MPPE=y
CONFIG_PPP_MULTILINK=y
CONFIG_PPPOE=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y

CONFIG_USB_NET_CDC_MBIM=m
CONFIG_USB_NET_QMI_WWAN=m

CONFIG_KEYBOARD_BBNSM_PWRKEY=y
CONFIG_KEYBOARD_IMX_SC_PWRKEY=y

CONFIG_SERIAL_NONSTANDARD=y

CONFIG_HDLC=m
CONFIG_N_HDLC=m

CONFIG_TCG_TPM=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS_I2C=m

CONFIG_XEN_I2C_BACKEND=y

CONFIG_DEVICE_THERMAL=y
CONFIG_MFD_IMX_MIX=y

CONFIG_DWC_MIPI_CSI2_HOST=y
CONFIG_IMX8MP_LCDIF_CORE=y

CONFIG_DRM_RCAR_LVDS=m
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y
CONFIG_DRM_PANEL_LVDS=y
CONFIG_DRM_DISPLAY_CONNECTOR=m
CONFIG_DRM_CDNS_HDCP=y
CONFIG_DRM_CDNS_HDMI_CEC=y
CONFIG_DRM_DW_HDMI_CEC=y
CONFIG_DRM_DW_MIPI_DSI=y
CONFIG_SND_SOC_IMX_PDM_MIC=m

CONFIG_USB_SERIAL_QUALCOMM=m
CONFIG_RTC_DRV_PCF85063=y

CONFIG_ARM_IMX_BUS_DEVFREQ=m
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=m

CONFIG_INTERCONNECT=y
CONFIG_INTERCONNECT_IMX=m
CONFIG_INTERCONNECT_IMX8MQ=m

CONFIG_EXFAT_FS=y
CONFIG_NTFS_FS=y
CONFIG_NTFS3_FS=y
CONFIG_CIFS=y

CONFIG_TRUSTED_KEYS_CAAM=y
CONFIG_SOC_IMX9=y

CONFIG_USB_ROLE_SWITCH=y

CONFIG_PINCTRL_SX150X=y

CONFIG_USB_SERIAL_PL2303=y

# ILI2132 TouchScreen
CONFIG_TOUCHSCREEN_ILITEK=m

