# Multiqueque Priority Qdisc support
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_MULTIQ=y
CONFIG_NET_CLS=y
CONFIG_NET_CLS_ACT=y
CONFIG_NET_ACT_SKBEDIT=y
CONFIG_NET_CLS_U32=y
CONFIG_CLS_U32_PERF=y
CONFIG_CLS_U32_MARK=y
CONFIG_NET_EMATCH_U32=y
# XDP support
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
# TSN support
CONFIG_TSN=y
CONFIG_ENETC_TSN=y
CONFIG_FSL_ENETC_PTP_CLOCK=y
CONFIG_MSCC_FELIX_SWITCH_TSN=y
CONFIG MSCC_FELIX_SWITCH_PTP_CLOCK=y
CONFIG_NET_PKTGEN=y

