[Unit]
Description=Attach Bluetooth to UART
Requires=bluetooth.service
After=bluetooth.service
AllowIsolate=yes

[Service]
Type=forking
ExecStart=/usr/sbin/bt-hciattach.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

