[Unit]
Description=ADLINK script to switch uart modes, rs232/rs485/rs422/loopback
After=multi-user.target
AllowIsolate=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/uart-mode.sh

[Install]
WantedBy=multi-user.target
