// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the LEC-iMX8MP + I-Pi SMARC Plus platform
 * connected with the Raspberry Pi Camera Module v2.1
 *
 * Copyright (C) 2020 ADLINK Technology Inc. All Rights Reserved.
 */

#include "lec-imx8mp.dts"
/ {
	model = "Adlink LEC-iMX8MP SOM module";
	compatible = "fsl,imx8mp-evk", "fsl,imx8mp", "adlink,lec-imx8mp";

	wifi_bt_powerdown: regulator-wifi-bt {
		compatible = "regulator-fixed";
                regulator-name = "WIFI_BT_PD";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                gpio = <&gpio2 10 GPIO_ACTIVE_HIGH>;
                enable-active-high;
                startup-delay-us = <100>;
                off-on-delay-us = <12000>;
		regulator-always-on;
	};

	wlan_en_reg: regulator-usdhc1 {
		compatible = "regulator-fixed";
                regulator-name = "WIFI_WAKE";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                gpio = <&gpio2 11 GPIO_ACTIVE_HIGH>;
                enable-active-high;
                startup-delay-us = <100>;
                off-on-delay-us = <12000>;
		regulator-always-on;
	};

	bt_en_reg: regulator-uart1 {
		compatible = "regulator-fixed";
                regulator-name = "BT_WAKE";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                gpio = <&gpio6 13 GPIO_ACTIVE_HIGH>;
                enable-active-high;
                startup-delay-us = <100>;
                off-on-delay-us = <12000>;
		regulator-always-on;
	};
	/delete-node/ pinctrl_csi1_pwn;
	/delete-node/ pinctrl_csi1_rst;
};



&usdhc1 {
	//vmmc-supply = <&wlan_en_reg>;
	//mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	keep-power-in-suspend;

	#address-cells = <1>;
	#size-cells = <0>;
	mwifiex: wifi@1 {
		 compatible = "marvell,sd8997";
		 reg = <1>;
		 interrupt-parent = <&gpio2>;
		 interrupts = <8 IRQ_TYPE_LEVEL_LOW>;

		 marvell,caldata_00_txpwrlimit_2g_cfg_set = /bits/ 8 <
			 0x01 0x00 0x06 0x00 0x08 0x02 0x89 0x01>;
		 marvell,wakeup-pin = <14>;
	 };
};


&uart1 {
	bluetooth {
                compatible = "mrvl,88w8897";
        };
};
