[Unit]
Description=Adlink imx8mp startup script during bootup

[Service]
Type=simple
ExecStart=/bin/sh -c 'sleep 5 ; /usr/sbin/adlink-imx8mp-startup'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
